<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head.ejs'); %>
    <title> <%= title %> </title>
</head>

<body class="container">
    <%- include('partials/header.ejs'); %>

    <% if(notes.length > 0) { %>

    <% notes.forEach(function(note) { %>
    <div class="card card-primary my-2">       
            
        <div class="card-header">
            <%=  note.title %>
            <div class="float-right">
                <%= note.published %>
            </div>
        </div>

        <div class="card-body">
            <%=  note.content %>
        </div>       

    </div>
    <% }) %>

    <% } else { %>
    <p>There aren't notes yet</p>
    <% } %>
</body>

</html>