<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %> </title>
    <%- include('partials/head.ejs'); %>
</head>

<body class="container">

    <%- include('partials/header.ejs'); %>

    <h2 class="text-center">Write a new note</h2>

    <div class="row">
        <div class="col-md-6 offset-md-3">

            <form action="" method="post">
                <div class="form-group">
                    <label for="title">Title: </label>
                    <input 
                        class="form-control" 
                        type="text" 
                        id="title" 
                        name="title" 
                        placeholder="Entry a new title"
                        required>
                </div>

                <div class="form-group">
                    <label for="content">Entry a text: </label>
                    <textarea 
                        class="form-control" 
                        type="text" 
                        id="content" 
                        name="content"
                        rows="5" 
                        required>
                    </textarea>
                </div>

                <div class="form-group">
                    <input type="submit" value="Post entry" class="btn btn-primary">
                </div>
            </form>

        </div>
    </div>





    <!-- <div class="col-xs-8 col-xs-offset-2">
        <h2 class="text-center">Write a new note</h2>

        <form action="" method="post">
            <div class="form-group">
                <label for="title">Title: </label>
                <input 
                    class="form-control"
                    type="text" 
                    id="title"
                    name="title" 
                    placeholder="Entry a new title" required>
                
                <label for="">Entry a text: </label>
                <input class="form-control" type="text">
            </div>
        </form>
    </div> -->
</body>

</html>